body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

body {
  background: #ccc;
  font-family: Optima, Helvetica, sans-serif;
  text-align: center;
}

button {
  background: #2A2B2E;
  border: none;
  color: #fff;
  font-size: 14px;
  height: 30px;
  width: 10%;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background: #C0AD1A;
}

.camera {
  border: #2A2B2E solid 20px;
}

.error {
  color: red;
}

input {
  height: 20px;
  line-height: 20px;
  width: 20%;
  margin: 10px;
  padding: 4px 10px;
}

.header {
  background: #2A2B2E;
  color: #fff;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.header h1 {
  padding-left: 10px;
  padding-top: 25px;
  font-family: Hoefler Text, Times, serif;
  font-size: 40px;
  text-align: left;
}

h2 {
  font-size: 25px;
}

.logout {
  float: right;
  margin-right: 10px;
}

.logout a {
  color:#2A2B2E ;
  text-decoration: none;
}

.logout a:hover,
.logout a:focus,
.logout a:active {
  color: #C0AD1A;
}
