html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*begin custom css*/

body {
  background: #ccc;
  font-family: Optima, Helvetica, sans-serif;
  text-align: center;
}

button {
  background: #2A2B2E;
  border: none;
  color: #fff;
  font-size: 14px;
  height: 30px;
  width: 10%;
  cursor: pointer;
}

button:hover {
  background: #C0AD1A;
}

.camera {
  border: #2A2B2E solid 20px;
}

.error {
  color: red;
}

input {
  height: 25px;
  width: 20%;
  margin: 10px;
}

.header {
  background: #2A2B2E;
  color: #fff;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.header h1 {
  padding-left: 10px;
  padding-top: 25px;
  font-family: Hoefler Text, Times, serif;
  font-size: 40px;
  text-align: left;
}

h2 {
  font-size: 25px;
}

.logout {
  float: right;
  margin-right: 10px;
}

.logout a {
  color:#2A2B2E ;
  text-decoration: none;
}

.logout a:hover {
  color: #C0AD1A;
}

